.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contantAbout{
    font-size: 16px;
}
.container .imageAbout img{
    background-color: #fff;
    border-radius:20px;
    box-shadow: 5 5 5 rgba(0, 0, 0, 0.884);
    margin: 50px;
    }