h2,
h3,
.body1,
.body2,
.body3 {
    letter-spacing: 0em;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.body1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.body2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
}

.body3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}